table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th { 
  width: 25%;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form-container .section-filter{
  width: 50%;
}

.tabela{
  min-height: 650px;
}

.button-row {
  max-width: 150px;
}