<div class="form-container">
  <h1 style="text-align: center; text-transform: uppercase">{{title}}</h1>  
  <button matFab extended (click)="onCreate()" style="width: 150px">
    <mat-icon>add</mat-icon>
    Novo
  </button>
  <section class="section-filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Ex. Mia" #input />
    </mat-form-field>
  </section>

  <section>
    <div style="height: 2px">
      @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>

    <div class="mat-elevation-z8">
      <div class="tabela">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          matSortActive="id"
          matSortDisableClear
          matSortDirection="asc"
          aria-label="Elements"
        >
         <ng-container matColumnDef="id" sticky="#">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          
          @for (item of displayedColumnsDef; track $index) {
          <ng-container [matColumnDef]="item.label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.header }}</th>
            <td mat-cell *matCellDef="let row">{{ row[item.label] }}</td>
          </ng-container>

          }

          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>ACOES</th>
            <td mat-cell *matCellDef="let row">
              <button
                matIconButton
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditById(row)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="onDeleteById(row.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Excluir</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Nenhum dado correspondente ao filtro "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>

      <mat-paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </section>
</div>
