table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th { 
  width: 25%;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form-container .section-filter{
  width: 50%;
}

.tabela{
  min-height: 650px;
}

.button-row {
  max-width: 150px;
}

.mat-mdc-row .mat-mdc-cell {  
  /* border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; */
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #ededf2;
}

.mat-column-id
 {
  width: 64px;
}

.mat-mdc-table-sticky {
  background: #c6d7f6;
}
